@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap");
:root {
  --home-fs: 14px;
  --about-fs: 16px;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 30px 0px;
  --bg-color: #121212;
  --text-color: #ffffff;
  --elements-color: #1e1e1e;
}

* {
  font-family: "Nunito Sans";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--home-fs);
  background: var(--bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}
li {
  margin-bottom: 0.5rem;
}

.inputLabel {
  font-weight: 700;
}

nav {
  background: var(--elements-color);
  height: 4rem;
  width: 100%;
  position: relative;
  box-shadow: 2px 4px 4px var(--bg-color);
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  inset: 0;
  margin: 0 3rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem;
}

.search {
  display: flex;
  position: relative;
  min-width: 100px;
}

.fa-search {
  position: absolute;
  margin-top: 0.9rem;
  margin-left: 1rem;
  width: 1rem;
  color: var(--input-color);
}

.search-input {
  border: 1px solid transparent;
  border-radius: 5px;
  height: 2.8rem;
  width: 100%;
  min-width: 30rem;
  padding: 1rem 1.5rem;
  outline: 0;
  text-indent: 1.5rem;
  background-color: var(--elements-color);
  font-size: var(--home-fs);
  box-shadow: var(--box-shadow);
  color: var(--text-color);
}

.filter-dropdown {
  display: inline-block;
  position: relative;
}
.dropbtn {
  border: 1px solid transparent;
  border-radius: 5px;
  height: 2.8rem;
  width: 100%;
  padding: 1rem;
  background-color: var(--elements-color);
  color: var(--text-color);
  box-shadow: var(--box-shadow);
}

.dropbtn span:first-child {
  margin-right: 2rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  margin-top: 0.3rem;
  border-radius: 5px;
  z-index: 1;
  box-shadow: var(--box-shadow);
  background-color: var(--elements-color);
}

.dropdown-content.show {
  display: block;
}

.regions {
  display: flex;
  flex-direction: column;
}

.regions a {
  padding: 0.5rem 1rem;
}

.mainContainer{
  display: flex;
  flex-direction: row;
}

 #style-1::-webkit-scrollbar-track{
   -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
   background-color: #F5F5F5;
   border-color: #121212;
 }
 
 #style-1::-webkit-scrollbar{
   width: 10px;
   background-color: #F5F5F5;
 }
 
 #style-1::-webkit-scrollbar-thumb{
   border-radius: 10px;
   background-color: #c1c1c1;
   height: 6%;
 }

.favourites{
  height:600px;
  width:22%;
  margin: 0 0 0 3rem;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  background-color: var(--elements-color);
}

.favouritesTitle{
  padding: 1rem;
}

.favouritesList{
  width: 100%;
  height: 88%;
  overflow-y: scroll;
}

.countries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  max-height: 500px;
  overflow-y: scroll;
}

.card {
  background: var(--elements-color);
  border-radius: 5px;
  border: 1px solid transparent;
  height: 22rem;
  width:18rem;
  box-shadow: var(--box-shadow);
  margin: 0rem 2rem 2rem 1.5rem;
}

.card:hover {
  cursor: pointer;
}

.cardImg {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.cardBody {
  padding: 0rem 1.5rem;
}

.countryName {
  padding-bottom: 1rem;
}

.backButton {
  height: 2rem;
  width: 6.5rem;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 5px;
  color: var(--text-color);
  background: var(--elements-color);
  box-shadow: var(--box-shadow);
}

.backButton span:first-child {
  margin-right: 6px;
}

.country {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 3rem;
}

.countryImage img {
  width: 90%;
  height: 22rem;
  object-fit: cover;
}

.details {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}
.countryName {
  padding: 1rem 0rem;
  font-size: 1.4rem;
}

.firstColumn ul > li,
.secondColumn ul > li {
  padding-bottom: 0.5rem;
}
.secondColumn {
  margin-top: 4rem;
}

.borderCountries {
  display: flex;
  align-items: center;
  margin-left: 4.5rem;
}
.borderCountriesLabel {
  margin-right: 1rem;
}
.borderButton {
  height: 1.5rem;
  width: 6rem;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-right: 1rem;
  color: var(--text-color);
  background: var(--elements-color);
  box-shadow: var(--box-shadow);
}

.favouriteCountry{
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */

}

.flagCountry{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favouriteCountryImage{
  width: 50px;
  height: 25px;
  border-radius: 5px;
  margin-right: 1rem;
  object-fit: cover;
}

.favouriteCountryName{
  font-weight: 700;
}

.starDiv{
  display: none;
}

.fa-solid{
  color: #e5e5e5;
  background-color: black;
  border-radius: 80%;
}

@media (max-width: 768px) {
  nav {
    height: 6rem;
  }

  .navBar {
    font-size: 12px;
    margin: 0 2rem;
  }

  .wrapper {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 2rem;
  }

  .search {
    min-width: 100%;
  }

  .search-input {
    margin-bottom: 2rem;
    width: 100%;
    min-width: 100%;
  }

  .countries::-webkit-scrollbar { 
    display: none;
}
  .countries {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    margin: 0 3.5rem 0 3.5rem;
    overflow-y: scroll;
  }

  .country {
    grid-template-columns: repeat(1, 1fr);
    margin: 3rem 2rem;
  }

  .countryImage img {
    width: 100%;
    object-fit: cover;
  }

  .details {
    flex-direction: column;
    justify-content: space-around;
    margin: 2rem 0;
  }

  .borderCountries {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0rem;
  }

  .borderCountriesabel {
    margin: 0 0 1rem 0;
  }
  .borderButton {
    width: 6rem;
    margin-top: 1rem;
    margin-right: 0.5rem;
  }
  .secondColumn{
    margin-top:2rem;
  }

  .mainContainer{
    display: flex;
    flex-direction: column;
  }
  .favourites{
    display: none;
  }
  .card{
    width: 100%;
    margin: 0;
    height: 30rem;
    margin-bottom: 1rem;
  }

  .cardImg{
    height: 15rem;
  }
  .starDiv{
    display:flex;
    justify-content: end;
    margin-top: 4rem;
  }
}
